@@if (dest === "button" && type === "normal" && disabled === "no") {
	<button class="button @@class">@@text</button>
}

@@if (dest === "button" && type === "normal" && disabled === "yes") {
	<button class="button @@class" disabled>@@text</button>
}

@@if (dest === "button" && type === "empty" && disabled === "no") {
	<button class="button button--empty @@class">@@text</button>
}

@@if (dest === "button" && type === "empty" && disabled === "yes") {
	<button class="button button--empty @@class" disabled>@@text</button>
}

@@if (dest === "button" && type === "good" && disabled === "no") {
	<button class="button button--good @@class">@@text</button>
}

@@if (dest === "button" && type === "good" && disabled === "yes") {
	<button class="button button--good @@class" disabled>@@text</button>
}

@@if (dest === "button" && type === "bad" && disabled === "no") {
	<button class="button button--bad @@class">@@text</button>
}

@@if (dest === "button" && type === "bad" && disabled === "yes") {
	<button class="button button--bad @@class" disabled>@@text</button>
}





@@if (dest === "submit" && type === "normal" && disabled === "no") {
	<button class="button @@class" type="submit">@@text</button>
}

@@if (dest === "submit" && type === "normal" && disabled === "yes") {
	<button class="button @@class" type="submit" disabled>@@text</button>
}

@@if (dest === "submit" && type === "empty" && disabled === "no") {
	<button class="button button--empty @@class" type="submit">@@text</button>
}

@@if (dest === "submit" && type === "empty" && disabled === "yes") {
	<button class="button button--empty @@class" type="submit" disabled>@@text</button>
}

@@if (dest === "submit" && type === "good" && disabled === "no") {
	<button class="button button--good @@class" type="submit">@@text</button>
}

@@if (dest === "submit" && type === "good" && disabled === "yes") {
	<button class="button button--good @@class" type="submit" disabled>@@text</button>
}

@@if (dest === "submit" && type === "bad" && disabled === "no") {
	<button class="button button--bad @@class" type="submit">@@text</button>
}

@@if (dest === "submit" && type === "bad" && disabled === "yes") {
	<button class="button button--bad @@class" type="submit" disabled>@@text</button>
}

@@if (dest === "reset" && type === "empty" && disabled === "no") {
	<button class="button button--empty @@class" type="reset">@@text</button>
}

@@if (dest === "reset" && type === "empty" && disabled === "yes") {
	<button class="button button--empty @@class" type="reset" disabled>@@text</button>
}





@@if (dest === "link" && type === "normal") {
	<a href="@@href" class="button button--link @@class">@@text</a>
}

@@if (dest === "link" && type === "empty") {
	<a href="@@href" class="button button--link button--empty @@class">@@text</a>
}

