@import "./mixins";
@import "./colors";
@import "./vars";

.menu {
	background: rgba($c_wild-sand, .99);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 5;
	display: none;
	align-items: center;
	justify-content: flex-end;

	&__list {
		margin-right: 20px;
	}

	&__item {
		text-align: right;

		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}

	&__link {
		font-size: 34px;
		font-weight: 700;
		line-height: 41px;
		color: $c_gray;
		outline: none;
		transition: $transition ease-in-out;

		&.active {
			color: $c_black--b;
		}

		&:hover,
		&:focus {
			color: $c_black--b;
		}
	}

	&__open {
		position: absolute;
		top: 50px;
		right: 20px;
		display: none;
		background: transparent;
		border: none;
		outline: none;
		cursor: pointer;
		transition: $transition ease-in-out;

		&:hover,
		&:focus {
			opacity: .5;
		}

		@include media(0, $m_mob--md) {
			display: block;
		}
	}

	&__close {
		position: absolute;
		top: 50px;
		right: 13px;
		background: transparent;
		border: none;
		outline: none;
		cursor: pointer;
		transition: $transition ease-in-out;

		&:hover,
		&:focus {
			opacity: .5;
		}
	}
}