<button class="menu__open menu__open--js @@class"><img class="menu__img" src="/static/images/menu-open.svg"
		alt="Menu Open Button"></button>
<div class="menu">
	<ul class="menu__list">
		<li class="menu__item"><a class="menu__link menu-focus" href="/">Home</a></li>
		<li class="menu__item"><a class="menu__link" href="/pages/blog/index.html">My blog</a></li>
		<li class="menu__item"><a class="menu__link menu__link--sign-js">Sign in</a></li>
		<li class="menu__item"><a class="menu__link menu__link--register-js">Register</a></li>
	</ul>
	<button class="menu__close menu__close--js"><img class="menu__img" src="/static/images/menu-close.svg"
			alt="Menu Close button"></button>
</div>