<button class="menu__open menu_js" aria-label="Open menu"><img class="menu__burger" src="/static/images/icon-menu.svg" alt="Open Menu"></button>
<div class="menu">
	<ul class="menu__list">
		<li class="menu__item"><a class="menu__link focus_js" href="/index.html">Home</a></li>
		<li class="menu__item"><a class="menu__link" href="/pages/blog/index.html">My blog</a></li>
		<li class="menu__item"><a class="menu__link signin--menu_js" href="#">Sign in</a></li>
		<li class="menu__item"><a class="menu__link register--menu_js" href="#">Register</a></li>
		<li class="menu__item"><a class="menu__link hide_js profile--menu_js" href="/pages/profile/index.html">My profile</a></li>
		<li class="menu__item"><a class="menu__link logout--menu_js" href="#">Logout</a></li>
	</ul>
	<button class="menu__close" aria-label="Close"><img class="menu__x" src="/static/images/icon-close.svg" alt="Close button"></button>
</div>