@import "./mixins";
@import "./colors";
@import "./vars";

.profile {
	padding: 40px 0;

	@include media(0, $m_tab) {
		padding: 30px 0;
	}

	&__title {
		margin-bottom: 40px;

		@include media(0, $m_tab) {
			width: 200px;
			margin-bottom: 36px;
		}
	}

	&__box {
		display: flex;

		@include media(0, $m_tab) {
			flex-wrap: wrap;
		}
	}

	&__photo {
		width: 320px;
		height: 450px;
		margin-right: 105px;

		display: flex;
		align-items: center;
		justify-content: center;

		background: $c_wild-sand center center;
		background-size: cover;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

		@include media($m_tab, $m_pc) {
			width: 314px;
			margin-right: 76px;
		}

		@include media(0, $m_tab) {
			width: 280px;
			margin-right: 40px;
			margin-bottom: 40px;
		}

		@include media(0, 550px) {
			margin-right: 0px;
		}
	}
}

.profile-info {
	margin-bottom: 30px;

	&__item {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__data {
		margin-right: 12px;
	}
}

.profile-buttons {
	&__item {
		&:not(:last-child) {
			margin-bottom: 20px;
		}

		button {
			padding: 7.5px 16.5px;
		}
	}
}