<section class="portfolio">
	<div class="container__portfolio container">
		<div class="portfolio__content">
			<h2 class="portfolio__title title-two">Portfolio</h2>
			<div class="swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<picture>
							<source srcset="/static/images/portfolio.jpg, /static/images/portfolio-retina.jpg 2x" media="(min-width 769px)">
							<source srcset="/static/images/portfolio-tab.jpg, /static/images/portfolio-tab-retina.jpg 2x" media="(min-width: 500px) and (max-width: 768px)">
							<source srcset="/static/images/portfolio-mob.jpg, /static/images/portfolio-mob-retina.jpg 2x" media="(max-width: 499px)">
							<img class="portfolio__img" src="static/images/portfolio.jpg" alt="portfolio">
						</picture>
						<div class="portfolio__bottom">
							<div class="portfolio__info portfolio-info">
								<a class="portfolio-info__link" href="#">Learning site for DL Academy courses</a>
								<p class="portfolio-info__text text-small">A simple multi-page static site. The design layout was in Figma. HTML and
									CSS were used. The site is responsive and cross-browser, but without adding interactivity via JavaScript.</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<picture>
							<source srcset="/static/images/portfolio.jpg, /static/images/portfolio-retina.jpg 2x" media="(min-width 769px)">
							<source srcset="/static/images/portfolio-tab.jpg, /static/images/portfolio-tab-retina.jpg 2x"
								media="(min-width: 500px) and (max-width: 768px)">
							<source srcset="/static/images/portfolio-mob.jpg, /static/images/portfolio-mob-retina.jpg 2x"
								media="(max-width: 499px)">
							<img class="portfolio__img" src="static/images/portfolio.jpg" alt="portfolio">
						</picture>
						<div class="portfolio__bottom">
							<div class="portfolio__info portfolio-info">
								<a class="portfolio-info__link" href="#">Learning site for DL Academy courses</a>
								<p class="portfolio-info__text text-small">A simple multi-page static site. The design layout was in Figma. HTML
									and
									CSS were used. The site is responsive and cross-browser, but without adding interactivity via JavaScript.</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<picture>
							<source srcset="/static/images/portfolio.jpg, /static/images/portfolio-retina.jpg 2x" media="(min-width 769px)">
							<source srcset="/static/images/portfolio-tab.jpg, /static/images/portfolio-tab-retina.jpg 2x"
								media="(min-width: 500px) and (max-width: 768px)">
							<source srcset="/static/images/portfolio-mob.jpg, /static/images/portfolio-mob-retina.jpg 2x"
								media="(max-width: 499px)">
							<img class="portfolio__img" src="static/images/portfolio.jpg" alt="portfolio">
						</picture>
						<div class="portfolio__bottom">
							<div class="portfolio__info portfolio-info">
								<a class="portfolio-info__link" href="#">Learning site for DL Academy courses</a>
								<p class="portfolio-info__text text-small">A simple multi-page static site. The design layout was in Figma. HTML
									and
									CSS were used. The site is responsive and cross-browser, but without adding interactivity via JavaScript.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
		</div>
	</div>
</section>