.popup {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba($c_wild-sand, .99);
	z-index: 10;
	padding: 30px 0;
	display: flex;
	overflow: scroll;

	@include media(0, $m_tab) {
		padding: 60px 0;
	}

	&--change-password {
		display: none;
	}

	&--change-data {
		display: none;
	}

	&--login {
		display: none;
	}

	&--register {
		display: none;
	}

	&--message {
		display: none;
	}

	@include media(0, $m_tab) {
		background: $c_white;
	}

	&__form {
		position: relative;
		margin: auto;
		padding: 36px 38px 38px 38px;
		background: $c_white;
		border: 2.5px solid $c_black--b;

		&--change-password,
		&--login {
			width: 370px;
		}

		&--change-data,
		&--register,
		&--message {
			width: 680px;
		}

		@include media(0, $m_tab) {
			padding: 0 20px;
			border: none;
		}
	}

	&__label {
		width: 100%;
		margin-bottom: 20px;
		display: inline-block;

		&--checkbox {
			display: flex;
			align-items: center;
		}

		&--file {
			position: relative;

			margin-bottom: 30px;
		}
	}

	&__col {
		display: flex;

		@include media(0, $m_tab) {
			display: block;
		}
	}

	&__col-50 {
		width: 50%;

		&--file {
			position: relative;
		}

		@include media(0, $m_tab) {
			width: 100%;
		}

		&:first-child {
			margin-right: 20px;

			@include media(0, $m_tab) {
				margin-right: 0;
			}
		}
	}

	&__text {
		width: 100%;
		margin-bottom: 6px;
		display: inline-block;

		&--error.text-small {
			margin-bottom: 0;
			margin-top: 10px;
			color: $c_error;
		}

		&--success.text-small {
			margin-bottom: 0;
			margin-top: 10px;

			color: $c_success;
		}
	}

	&__accent {
		color: $c_error;
	}

	&__input {
		width: 100%;
		padding: 12px 14px;

		font-size: 18px;
		font-weight: 500;
		line-height: 21px;
		color: $c_black--b;

		border: 2.5px solid $c_gray--white;
		outline: none;

		transition: $transition ease-in-out;

		&:hover {
			border-color: $c_gray;
		}

		&:focus {
			border-color: $c_black--b;
		}

		&--error {
			border-color: $c_error;

			&:hover,
			&:focus {
				border-color: $c_error;
				opacity: .5;
			}
		}

		&--success {
			border-color: $c_success;

			&:hover,
			&:focus {
				border-color: $c_success;
				opacity: .5;
			}
		}

		&--file {
			width: 97%;
			height: 50px;

			font-size: 0px;

			@include media(0, $m_tab) {
				width: 100%;
			}
		}
	}

	&-file {
		position: absolute;
		top: 27px;
		left: 4px;

		display: flex;
		align-items: center;

		background: $c_white;

		padding: 10px;

		pointer-events: none;

		&__img {
			margin-right: 10px;
		}

		&__text {
			font-size: 18px;
			font-weight: 500;
			line-height: 21px;
			color: $c_black--b;
		}
	}

	&__textarea {
		width: 100%;
		min-height: 150px;
		padding: 12px 14px;
		font-size: 18px;
		line-height: 21px;
		color: $c_black--b;
		border: 2.5px solid $c_gray--white;
		outline: none;
		transition: $transition ease-in-out;

		&:hover {
			border-color: $c_gray;
		}

		&:focus {
			border-color: $c_black--b;
		}
	}

	&__checkbox {

		&-checker {
			position: relative;
			width: 19px;
			height: 19px;
			margin-right: 15px;
			display: inline-block;
			line-height: 0;
			border: 2.5px solid $c_black--b;
			border-radius: 3px;
			opacity: .1;
			transition: $transition ease-in-out;
		}

		&-text {
			width: 90%;
			font-size: 14px;
			line-height: 16px;
			opacity: .1;
			transition: $transition ease-in-out;
		}

		&:checked ~ .popup__checkbox-checker::before {
			content: "";
			position: absolute;
			top: -2px;
			left: 1px;
			width: 15px;
			height: 15px;	
			background: url(static/images/icon-check.svg);
		}

		&:checked ~ .popup__checkbox-checker,
		&:checked ~ .popup__checkbox-text {
			opacity: 1;
		}

		&:disabled ~ .popup__checkbox-checker {
			border-color: $c_error;
		}
	}

	button[type="submit"] {
		padding: 7.5px 17.5px;
	}

	&__close {
		position: absolute;
    top: -4px;
    right: -38px;
		opacity: .5;
		background: transparent;
		border: none;
		outline: none;
		cursor: pointer;

		transition: $transition ease-in-out;

		&:hover,
		&:focus {
			opacity: 1;
		}

		@include media(0, $m_tab) {
			top: -46px;
			left: 20px;
		}
	}
}

.popup__label--checkbox:hover .popup__checkbox-checker,
.popup__label--checkbox:hover .popup__checkbox-text {
	opacity: .5;
}

.popup__checkbox:focus ~ .popup__checkbox-checker,
.popup__checkbox:focus ~ .popup__checkbox-text {
	opacity: .5;
}

.popup__label--checkbox:hover {
	cursor: pointer;
}

.popup__label--checkbox:hover ~ .popup__button {
	color: $c_gray;
	border-color: $c_gray;
}

.popup__label--checkbox:hover .popup__checkbox:disabled ~ .popup__checkbox-checker,
.popup__label--checkbox:hover .popup__checkbox:disabled ~ .popup__checkbox-text{
	opacity: .1;
}