<div class="popup popup--login">
	<form class="popup__form popup__form--login" name="login">
		<label class="popup__label">
			<span class="popup__text text-small">Email <span class="popup__accent">*</span></span>
			<input class="popup__input" type="email" name="email">
		</label>
		<label class="popup__label">
			<span class="popup__text text-small">Password <span class="popup__accent">*</span></span>
			<input class="popup__input" type="password" name="password">
		</label>
		@@include('button/index.html', {
			"dest": "submit",
			"type": "empty",
			"disabled": "no",
			"text": "Log in",
			"class": "popup__button"
		})
		<button class="popup__close" aria-label="Close"><img class="popup__x" src="/static/images/icon-close.svg" alt="Close button"></button>
	</form>
</div>

<div class="popup popup--register">
	<form class="popup__form popup__form--register" name="register">
		<label class="popup__label">
			<span class="popup__text text-small">Email <span class="popup__accent">*</span></span>
			<input class="popup__input" type="email" name="email">
		</label>
		<div class="popup__col">
			<div class="popup__col-50">
				<label class="popup__label">
					<span class="popup__text text-small">Name <span class="popup__accent">*</span></span>
					<input class="popup__input" type="text" name="name">
				</label>
			</div>
			<div class="popup__col-50">
				<label class="popup__label">
					<span class="popup__text text-small">Surname <span class="popup__accent">*</span></span>
					<input class="popup__input" type="text" name="surname">
				</label>
			</div>
		</div>
		<div class="popup__col">
			<div class="popup__col-50">
				<label class="popup__label">
					<span class="popup__text text-small">Password <span class="popup__accent">*</span></span>
					<input class="popup__input" type="password" name="password">
				</label>
			</div>
			<div class="popup__col-50">
				<label class="popup__label">
					<span class="popup__text text-small">Repeat password <span class="popup__accent">*</span></span>
					<input class="popup__input" type="password" name="passwordRepeat">
				</label>
			</div>
		</div>
		<div class="popup__col">
			<div class="popup__col-50">
				<label class="popup__label">
					<span class="popup__text text-small">Location <span class="popup__accent">*</span></span>
					<input class="popup__input" type="text" name="location">
				</label>
			</div>
			<div class="popup__col-50">
				<label class="popup__label">
					<span class="popup__text text-small">Age <span class="popup__accent">*</span></span>
					<input class="popup__input" type="text" name="age">
				</label>
			</div>
		</div>
		<label class="popup__label popup__label--checkbox">
			<input class="popup__checkbox hidden" type="checkbox" name="accept" value="yes">
			<span class="popup__checkbox-checker"></span>
			<span class="popup__checkbox-text">Clicking on the button, you consent to the processing of your personal data.</span>
		</label>
		@@include('button/index.html', {
			"dest": "submit",
			"type": "empty",
			"disabled": "yes",
			"text": "Sign up",
			"class": "popup__button"
		})
		<button class="popup__close" aria-label="Close"><img class="popup__x" src="/static/images/icon-close.svg" alt="Close button"></button>
	</form>
</div>

<div class="popup popup--message">
	<form class="popup__form popup__form--message" name="message">
		<div class="popup__col">
			<div class="popup__col-50">
				<label class="popup__label">
					<span class="popup__text text-small">What is your name? <span class="popup__accent">*</span></span>
					<input class="popup__input popup__input" type="text" name="name">
				</label>
			</div>
			<div class="popup__col-50">
				<label class="popup__label">
					<span class="popup__text text-small">Message subject <span class="popup__accent">*</span></span>
					<input class="popup__input" type="text" name="subject">
				</label>
			</div>
		</div>
		<div class="popup__col">
			<div class="popup__col-50">
				<label class="popup__label">
					<span class="popup__text text-small">Your Email <span class="popup__accent">*</span></span>
					<input class="popup__input" type="email" name="to">
				</label>
			</div>
			<div class="popup__col-50">
				<label class="popup__label">
					<span class="popup__text text-small">Your mobile phone <span class="popup__accent">*</span></span>
					<input class="popup__input" type="tel" name="telephone">
				</label>
			</div>
		</div>
		<label class="popup__label">
			<span class="popup__text text-small">What do you want to discuss with me?</span>
			<textarea class="popup__textarea" name="message"></textarea>
		</label>
		<label class="popup__label popup__label--checkbox">
			<input class="popup__checkbox hidden" type="checkbox" name="accept">
			<span class="popup__checkbox-checker"></span>
			<span class="popup__checkbox-text">Clicking on the button, you consent to the processing of your personal data.</span>
		</label>
		@@include('button/index.html', {
			"dest": "submit",
			"type": "empty",
			"disabled": "yes",
			"text": "Send",
			"class": "popup__button"
		})
		<button class="popup__close" aria-label="Close"><img class="popup__x" src="/static/images/icon-close.svg" alt="Close button"></button>
	</form>
</div>