<div class="popup popup--login">
	<form class="popup__form popup__form--login" name="login">
		<label class="popup__label">
			<span class="popup__text">Email<span class="popup__star">*</span></span>
			<input class="popup__input popup__input-login  popup__focus-js" type="email" name="email">
		</label>
		<label class="popup__label text">
			<span class="popup__text">Password<span class="popup__star">*</span></span>
			<input class="popup__input popup__input-login" type="password" name="password">
		</label>
		@@include('button/index.html', {
		"type": "button",
		"text": "Log in",
		"class": "popup__button",
		"disabled": "no"
		})
		<button class="popup__close popup__close--login" aria-label="Button close popup"><img class="popup__close--img"
				src="/static/images/button-close.svg"></button>
	</form>
</div>

<div class="popup popup--register">
	<form class="popup__form popup__form--register" name="register">
		<div class="popup__coll">
			<label class="popup__label">
				<span class="popup__text">Email<span class="popup__star">*</span></span>
				<input class="popup__input popup__input--register" type="email" name="email">
			</label>
		</div>
		<div class="popup__coll">
			<div class="popup__coll-50">
				<label class="popup__label">
					<span class="popup__text">Name<span class="popup__star">*</span></span>
					<input class="popup__input" type="text" name="name">
				</label>
			</div>
			<div class="popup__coll-50">
				<label class="popup__label">
					<span class="popup__text">Surname<span class="popup__star">*</span></span>
					<input class="popup__input" type="text" name="surname">
				</label>
			</div>
		</div>
		<div class="popup__coll">
			<div class="popup__coll-50">
				<label class="popup__label">
					<span class="popup__text">Password<span class="popup__star">*</span></span>
					<input class="popup__input" type="password" name="password">
				</label>
			</div>
			<div class="popup__coll-50">
				<label class="popup__label">
					<span class="popup__text">Repeat password<span class="popup__star">*</span></span>
					<input class="popup__input" type="password" name="passwordRepeat">
				</label>
			</div>
		</div>
		<div class="popup__coll">
			<div class="popup__coll-50">
				<label class="popup__label">
					<span class="popup__text">Location<span class="popup__star">*</span></span>
					<input class="popup__input" type="text" name="location">
				</label>
			</div>
			<div class="popup__coll-50">
				<label class="popup__label">
					<span class="popup__text">Age<span class="popup__star">*</span></span>
					<input class="popup__input" type="text" name="age">
				</label>
			</div>
		</div>
		<label class="popup__label popup__label--checkbox">
			<input class="popup__checkbox hidden" type="checkbox" name="accept" value="yes">
			<span class="popup__checkbox-checker"></span>
			<span class="popup__checkbox-text">Clicking on the button, you consent to the processing of your personal
				data.</span>
		</label>
		@@include('button/index.html', {
		"type": "button",
		"text": "Sign up",
		"class": "popup__button",
		"disabled": "yes"
		})
		<button class="popup__close popup__close--register" aria-label="Button close popup"><img class="popup__close--img"
				src="/static/images/button-close.svg"></button>
	</form>
</div>

<div class="popup popup--send">
	<form class="popup__form popup__form--send" name="send">
		<div class="popup__coll">
			<div class="popup__coll-50">
				<label class="popup__label">
					<span class="popup__text">What is your name?<span class="popup__star">*</span></span>
					<input class="popup__input popup__input--send" type="text" name="name">
				</label>
			</div>
			<div class="popup__coll-50">
				<label class="popup__label">
					<span class="popup__text">Message subject<span class="popup__star">*</span></span>
					<input class="popup__input" type="text" name="messageSubject">
				</label>
			</div>
		</div>
		<div class="popup__coll">
			<div class="popup__coll-50">
				<label class="popup__label">
					<span class="popup__text">Your Email<span class="popup__star">*</span></span>
					<input class="popup__input" type="text" name="email">
				</label>
			</div>
			<div class="popup__coll-50">
				<label class="popup__label">
					<span class="popup__text">Your mobile phone<span class="popup__star">*</span></span>
					<input class="popup__input" type="tel" name="telephone">
				</label>
			</div>
		</div>
		<div class="popup__coll">
			<label class="popup__label">
				<span class="popup__text">What do you want to discuss with me?</span>
				<textarea class="popup__textarea popup__input" type="text" name="textarea"></textarea>
			</label>
		</div>
		<label class="popup__label popup__label--checkbox">
			<input class="popup__checkbox hidden" type="checkbox" name="accept" value="yes">
			<span class="popup__checkbox-checker"></span>
			<span class="popup__checkbox-text">Clicking on the button, you consent to the processing of your personal
				data.</span>
		</label>
		@@include('button/index.html', {
		"type": "button",
		"text": "Send",
		"class": "popup__button",
		"disabled": "yes"
		})
		<button class="popup__close popup__close--send" aria-label="Button close popup"><img class="popup__close--img"
				src="/static/images/button-close.svg"></button>
	</form>
</div>