<div class="popup popup--change-password">
	<form class="popup__form popup__form--change-password" name="change-password">
		<label class="popup__label">
			<span class="popup__text text-small">Old password <span class="popup__accent">*</span></span>
			<input class="popup__input" type="password" name="oldPassword">
		</label>
		<label class="popup__label">
			<span class="popup__text text-small">New password <span class="popup__accent">*</span></span>
			<input class="popup__input" type="password" name="newPassword">
		</label>
		<label class="popup__label">
			<span class="popup__text text-small">Repeat new password <span class="popup__accent">*</span></span>
			<input class="popup__input" type="password" name="repeatPassword">
		</label>
		@@include('button/index.html', {
			"dest": "submit",
			"type": "empty",
			"disabled": "no",
			"text": "Change password",
			"class": "popup__button"
		})
		<button class="popup__close" aria-label="Close"><img class="popup__x" src="/static/images/icon-close.svg" alt="Close button"></button>
	</form>
</div>

<div class="popup popup--change-data">
	<form class="popup__form popup__form--change-data" name="change-data">
		<label class="popup__label">
			<span class="popup__text text-small">Email</span>
			<input class="popup__input" type="email" name="email">
		</label>
		<div class="popup__col">
			<div class="popup__col-50">
				<label class="popup__label">
					<span class="popup__text text-small">Name</span>
					<input class="popup__input" type="text" name="name">
				</label>
			</div>
			<div class="popup__col-50">
				<label class="popup__label">
					<span class="popup__text text-small">Surname</span>
					<input class="popup__input" type="text" name="surname">
				</label>
			</div>
		</div>
		<div class="popup__col">
			<div class="popup__col-50">
				<label class="popup__label">
					<span class="popup__text text-small">Location</span>
					<input class="popup__input" type="text" name="location">
				</label>
			</div>
			<div class="popup__col-50">
				<label class="popup__label">
					<span class="popup__text text-small">Age</span>
					<input class="popup__input" type="text" name="age">
				</label>
			</div>
		</div>
		<div class="popup__col">
			<div class="popup__col-50 popup__col-50--file">
				<label class="popup__label popup__label--file">
					<span class="popup__text text-small">Profile picture</span>
					<input class="popup__input file_js" type="file" name="avatar" accept=".png, .jpg, .jpeg">
				</label>
				<div class="popup__file popup-file">
					<img class="popup-file__img" src="/static/images/icon-file.svg" alt="file icon">
					<span class="popup-file__text fileText_js">Choose a file...</span>
				</div>
			</div>
		</div>
		@@include('button/index.html', {
			"dest": "submit",
			"type": "empty",
			"disabled": "no",
			"text": "Submit changes",
			"class": "popup__button"
		})
		<button class="popup__close" aria-label="Close"><img class="popup__x" src="/static/images/icon-close.svg" alt="Close button"></button>
	</form>
</div>