<section class="skills">
	<div class="container">
		<div class="skills__content">
			<h2 class="skills__title title-two">Skills</h2>
			<p class="skills__subtitle">I work in such programs as</p>
			<ul class="skills__list">
				<li class="skills__item">
					<img class="skills__img" src="/static/images/skill-html.png" width="79" height="90" alt="Html 5">
					<span class="skills__name">HTML 5</span>
					<div class="skills__progress skills-progress">
						<span class="skills-progress__interest">85%</span>
						<div class="skills-progress__bar skills-progress__bar--html"></div>
					</div>
				</li>
				<li class="skills__item">
					<img class="skills__img" src="/static/images/skill-css.png" width="79" height="90" alt="Css/Scss">
					<span class="skills__name">CSS/SCSS</span>
					<div class="skills__progress skills-progress">
						<span class="skills-progress__interest">55%</span>
						<div class="skills-progress__bar skills-progress__bar--css"></div>
					</div>
				</li>
				<li class="skills__item">
					<img class="skills__img" src="/static/images/skill-script.png" width="68" height="90" alt="JavaScript">
					<span class="skills__name">JavaScript</span>
					<div class="skills__progress skills-progress">
						<span class="skills-progress__interest">5%</span>
						<div class="skills-progress__bar skills-progress__bar--script"></div>
					</div>
				</li>	
				<li class="skills__item">
					<img class="skills__img" src="/static/images/skill-git.png" width="90" height="90" alt="Git/Github">
					<span class="skills__name">Git/Github</span>
					<div class="skills__progress skills-progress">
						<span class="skills-progress__interest">15%</span>
						<div class="skills-progress__bar skills-progress__bar--git"></div>
					</div>
				</li>
				<li class="skills__item">
					<img class="skills__img" src="/static/images/skill-figma.png" width="60" height="90" alt="Figma">
					<span class="skills__name">Figma</span>
					<div class="skills__progress skills-progress">
						<span class="skills-progress__interest">80%</span>
						<div class="skills-progress__bar skills-progress__bar--figma"></div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>