<section class="about">
	<div class="about__container container">
		<div class="about__content">
			<h2 class="about__title title-two">About me</h2>
			<div class="about__box">
				<div class="about__cloud">
					<p class="about__text text">
						Aliquam tortor molestie turpis est tristique. Congue diam orci amet quis semper ut. Vitae aenean nibh facilisis urna, ultricies euismod nunc. Commodo fringilla sit hendrerit consequat. Vel ac elit vel sagittis.
					</p>
				</div>
				<div class="about__cloud">
					<p class="about__text text">
						Tincidunt id quis pellentesque rutrum pretium. Egestas aliquam dictum ipsum nisl, sed pulvinar. Commodo elit sed a fermentum non justo. Etiam platea consectetur.
					</p>
				</div>
				<div class="about__cloud">
					<p class="about__text text">
						Quam ipsum odio tellus etiam aliquam dolor ut hendrerit. Felis risus nec vitae nunc ultricies placerat. Nullam nec felis eu id dolor pellentesque tristique. 
					</p>
				</div>
			</div>
		</div>
	</div>
</section>