@import "./mixins";
@import "./colors";
@import "./vars";

.filter {
	padding: 40px 0 21px 0;

	@include media($m_mob--md, $m_pc) {
		padding: 40px 0 21px 0;
	}

	@include media(0, $m_mob--md) {
		padding: 30px 0 20px 0;
	}

	&__title {
		margin-bottom: 40px;

		@include media(0, $m_mob--md) {
			width: 173px;
			margin-bottom: 36px;
		}
	}
}

.filter-form {

	&__top {
		margin-bottom: 25px;
		display: flex;
		flex-wrap: wrap;

		@include media($m_tab, $m_pc) {
			margin-bottom: 12px;
		}
		
		@include media(0, $m_mob--md) {
			margin-bottom: 18px;
			justify-content: space-between;
		}
	}

	&__fieldset {
		margin: 0;
		padding: 0;
		border: none;

		@include media($m_mob--md, $m_pc) {
			margin-bottom: 20px;
		}

		@include media(0, $m_mob--md) {
			width: 46.3%;
			margin-bottom: 16px;
		}

		&--tags {
			width: 115px;
			margin-right: 79px;
			display: block;
			flex-wrap: nowrap;

			@include media(0, 900px) {
				order: 4;
			}

			@include media($m_mob--md, $m_pc) {
				margin-right: 52px;
			}

			@include media(0, $m_mob--md) {
				margin-right: 0;
			}
		}

		&--views {
			margin-right: 70px;

			@include media(0, $m_pc) {
				order: 1;
			}

			@include media($m_mob--md, $m_pc) {
				margin-right: 53px;
			}

			@include media(0, $m_mob--md) {
				margin-right: 0;
			}
		}

		&--comments {
			margin-right: 138px;

			@include media(0, $m_pc) {
				order: 0;
			}

			@include media($m_mob--md, $m_pc) {
				margin-right: 52px;
			}

			@include media(0, $m_mob--md) {
				margin-right: 0;
			}
		}

		&--show {
			margin-right: 76px;

			@include media(0, $m_pc) {
				order: 3;
			}

			@include media($m_mob--md, $m_pc) {
				margin-right: 23px;
			}

			@include media(0, $m_mob--md) {
				margin-right: 0;
			}
		}

		&--sort {
			margin-right: 49px;

			@include media(0, $m_pc) {
				order: 2;
			}

			@include media($m_mob--md, $m_pc) {
				margin-right: 81px;
			}

			@include media(0, $m_mob--md) {
				margin-right: 0;
			}
		}

		&--reset {
			margin-top: 19px;
			order: 5;

			@include media($m_mob--md, $m_pc) {
				margin-top: 10px;
			}

			@include media(0, $m_mob--md) {
				margin-top: 10px;
			}
		}
	}

	&__legend {
		margin-bottom: 11px;

		&--reset.text-small {
			margin: 0 0 5px 11px;
			text-align: center;
			color: $c_gray--white;
		}
	}

	&__checkbox {
		&-label {
			margin-bottom: 10px;
			display: flex;
			align-items: center;
			line-height: 0;
			cursor: pointer;

			&--tags {
				margin-bottom: 0;
				display: inline-block;
			}
		}

		&-checker {
			position: relative;
			width: 25px;
			height: 25px;
			margin-right: 12px;
			display: inline-block;
			line-height: 0;
			border: 2.5px solid $c_black--b;
			border-radius: 5px;
			opacity: .1;
			transition: $transition ease-in-out;

			&--tags {
				margin-right: 0;
			}

			&--2176FF::before {
				background-color: red;
			}
		}

		&-text {
			opacity: .1;
			transition: $transition ease-in-out;
		}

		&:checked ~ .filter-form__checkbox-checker {
			&::before {
				content: "";
				position: absolute;
				top: 2px;
				left: 3px;
				width: 15px;
				height: 15px;
				background: url(static/images/icon-check.svg);
			}

			&--2176FF::before {
				background: url(static/images/icon-check-2176ff.svg);
			}

			&--33A1FD::before {
				background: url(static/images/icon-check-33a1fd.svg);
			}

			&--FDCA40::before {
				background: url(static/images/icon-check-fdca40.svg);
			}

			&--57E2E5::before {
				background: url(static/images/icon-check-57e2e5.svg);
			}

			&--F79824::before {
				background: url(static/images/icon-check-f79824.svg);
			}

			&--E08DAC::before {
				background: url(static/images/icon-check-e08dac.svg);
			}

			&--6A7FDB::before {
				background: url(static/images/icon-check-6a7fdb.svg);
			}

			&--45CB85::before {
				background: url(static/images/icon-check-45cb85.svg);
			}
		}
		
		&:checked ~ .filter-form__checkbox-checker,
		&:checked ~ .filter-form__checkbox-text {
			opacity: 1;
		}

		&:disabled ~ .filter-form__checkbox-checker {
			border-color: $c_gray;
			cursor: auto;
		}

		&:disabled ~ .filter-form__checkbox-text {
			color: $c_gray;
			cursor: auto;
		}
	}

	&__radio {

		&-label {
			display: flex;
			align-items: center;
			cursor: pointer;

			&:not(last-child) {
				margin-bottom: 10px;
			}
		}

		&-checker {
			position: relative;
			width: 25px;
			height: 25px;
			margin-right: 12px;
			display: inline-block;
			line-height: 0;
			border: 2px solid $c_black--b;
			border-radius: 50%;
			opacity: .1;
			transition: $transition ease-in-out;

			&::before {
				content: "";
				position: absolute;
				top: 3px;
				right: 3px;
				bottom: 3px;
				left: 3px;
				background-color: $c_black--b;
				border-radius: 50%;
			}
		}

		&-text {
			opacity: .1;
			transition: $transition ease-in-out;
		}

		&:checked ~ .filter-form__radio-checker,
		&:checked ~ .filter-form__radio-text {
			opacity: 1;
		}

		&:disabled ~ .filter-form__radio-checker {
			border-color: $c_gray;
			cursor: auto;

			&::before {
				background-color: $c_gray;
				cursor: auto;
			}
		}

		&:disabled ~ .filter-form__radio-text {
			color: $c_gray;
			cursor: auto;
		}
	}

	&__button {
		width: 84px;
		padding: 7.5px 26.5px 7.5px 17.5px;
	}
}

.filter-form__checkbox-label:hover .filter-form__checkbox-checker,
.filter-form__checkbox-label:hover .filter-form__checkbox-text {
	opacity: .5;
}

.filter-form__checkbox-label:hover .filter-form__checkbox:disabled ~ .filter-form__checkbox-checker,
.filter-form__checkbox-label:hover .filter-form__checkbox:disabled ~ .filter-form__checkbox-text {
	opacity: .1;
}

.filter-form__radio-label:hover .filter-form__radio-checker,
.filter-form__radio-label:hover .filter-form__radio-text {
	opacity: .5;
}

.filter-form__radio-label:hover .filter-form__radio:disabled ~ .filter-form__radio-checker,
.filter-form__radio-label:hover .filter-form__radio:disabled ~ .filter-form__radio-text {
	opacity: .1;
}

.search {
	display: flex;
	align-items: center;

	@include media(0, $m_mob--md) {
		flex-wrap: wrap;
	}

	&__input {
		width: 100%;
		margin-right: 28px;
		padding: 12px 14px;
		font-size: 18px;
		line-height: 21px;
		color: $c_black--b;
		border: 2.5px solid $c_gray--white;
		outline: none;
		transition: $transition ease-in-out;

		@include media(0, $m_mob--md) {
			margin-right: 0;
			margin-bottom: 20px;
		}

		&:hover {
			border-color: $c_gray;
		}

		&:focus {
			border-color: $c_black--b;
		}
	}

	&__button {
		padding: 7.5px 17.5px;

		@include media(0, $m_mob--md) {
			margin-left: auto;
		}
	}
}