<section class="filter">
	<div class="filter__container container">
		<div class="filter__content">
			<h1 class="filter__title title-one">My blog</h1>
			<form class="filter__form filter-form" name="filter">
				<div class="filter-form__top">
					<fieldset class="filter-form__fieldset filter-form__fieldset--tags">
						<legend class="filter-form__legend text-small">Tags</legend>
						<div class="filter-form__tags-box tags_js"></div>
					</fieldset>
					<fieldset class="filter-form__fieldset filter-form__fieldset--views">
						<legend class="filter-form__legend text-small">Views</legend>
						<label class="filter-form__radio-label">
							<input class="filter-form__radio hidden" type="radio" name="views" value="100-500" checked>
							<span class="filter-form__radio-checker"></span>
							<span class="filter-form__radio-text text">100-500</span>
						</label>
						<label class="filter-form__radio-label">
							<input class="filter-form__radio hidden" type="radio" name="views" value="500-1000">
							<span class="filter-form__radio-checker"></span>
							<span class="filter-form__radio-text text">500-1000</span>
						</label>
						<label class="filter-form__radio-label">
							<input class="filter-form__radio hidden" type="radio" name="views" value="1000-2000">
							<span class="filter-form__radio-checker"></span>
							<span class="filter-form__radio-text text">1000-2000</span>
						</label>
					</fieldset>
					<fieldset class="filter-form__fieldset filter-form__fieldset--comments">
						<legend class="filter-form__legend text-small">Comments</legend>
						<label class="filter-form__checkbox-label">
							<input class="filter-form__checkbox hidden" type="checkbox" name="commentsCount" value="0">
							<span class="filter-form__checkbox-checker"></span>
							<span class="filter-form__checkbox-text text">0</span>
						</label>
						<label class="filter-form__checkbox-label">
							<input class="filter-form__checkbox hidden" type="checkbox" name="commentsCount" value="0-1">
							<span class="filter-form__checkbox-checker"></span>
							<span class="filter-form__checkbox-text text">0-1</span>
						</label>
						<label class="filter-form__checkbox-label">
							<input class="filter-form__checkbox hidden" type="checkbox" name="commentsCount" value="1-50">
							<span class="filter-form__checkbox-checker"></span>
							<span class="filter-form__checkbox-text text">1-50</span>
						</label>
					</fieldset>
					<fieldset class="filter-form__fieldset filter-form__fieldset--show">
						<legend class="filter-form__legend text-small">How show?</legend>
						<label class="filter-form__radio-label">
							<input class="filter-form__radio hidden" type="radio" name="show" value="5">
							<span class="filter-form__radio-checker"></span>
							<span class="filter-form__radio-text text">show 5</span>
						</label>
						<label class="filter-form__radio-label">
							<input class="filter-form__radio hidden" type="radio" name="show" value="10" checked>
							<span class="filter-form__radio-checker"></span>
							<span class="filter-form__radio-text text">show 10</span>
						</label>
					</fieldset>
					<fieldset class="filter-form__fieldset filter-form__fieldset--sort">
						<legend class="filter-form__legend text-small">Sort by</legend>
						<label class="filter-form__radio-label">
							<input class="filter-form__radio hidden" type="radio" name="sort" value="date" checked>
							<span class="filter-form__radio-checker"></span>
							<span class="filter-form__radio-text text">date</span>
						</label>
						<label class="filter-form__radio-label">
							<input class="filter-form__radio hidden" type="radio" name="sort" value="title">
							<span class="filter-form__radio-checker"></span>
							<span class="filter-form__radio-text text">title</span>
						</label>
						<label class="filter-form__radio-label">
							<input class="filter-form__radio hidden" type="radio" name="sort" value="views">
							<span class="filter-form__radio-checker"></span>
							<span class="filter-form__radio-text text">views</span>
						</label>
					</fieldset>
					<fieldset class="filter-form__fieldset filter-form__fieldset--reset">
						<legend class="filter-form__legend filter-form__legend--reset text-small">reset form</legend>
						@@include('button/index.html', {
						"dest": "reset",
						"type": "empty",
						"disabled": "no",
						"text": "Reset",
						"class": "filter-form__button reset-button_js"
						})
					</fieldset>
				</div>
				<div class="filter-form__search search">
					<input class="search__input" type="text" name="title">
					@@include('button/index.html', {
					"dest": "submit",
					"type": "empty",
					"disabled": "no",
					"text": "Search",
					"class": "search__button search-button_js"
					})
				</div>
			</form>
		</div>
	</div>
</section>
