<section class="first-screen">
	<div class="container first-screen__container">
		<div class="first-screen__content">
			<h2 class="first-screen__title title-one">Antonina Antoninovna</h2>
			<p class="first-screen__text text">Future front-end developer 23 years old, Tolyatti</p>
			<div class="first-screen__slider slider">
				<div class="slider__wrapper">
					<div class="slider__inner-wrapper">
						<div class="slider__slide">
							<picture>
								<source srcset="/static/images/slider.jpg, /static/images/siider-retina.jpg 2x" media="(min-width: 800px)">
								<source srcset="/static/images/slider-tab.jpg, /static/images/slider-tab-retina.jpg 2x" media="(min-width: 375px) and (max-width: 799px)">
								<source srcset="/static/images/slider-mob.jpg, /static/images/slider-mob-retina.jpg 2x" media="(max-width: 374px)">
								<img class="slider__img" src="/static/images/slider.jpg" alt="Photo">
							</picture>
						</div>
						<div class="slider__slide">
							<picture>
								<source srcset="/static/images/slider.jpg, /static/images/siider-retina.jpg 2x" media="(min-width: 800px)">
								<source srcset="/static/images/slider-tab.jpg, /static/images/slider-tab-retina.jpg 2x"
									media="(min-width: 375px) and (max-width: 799px)">
								<source srcset="/static/images/slider-mob.jpg, /static/images/slider-mob-retina.jpg 2x" media="(max-width: 374px)">
								<img class="slider__img" src="/static/images/slider.jpg" alt="Photo">
							</picture>
						</div>
						<div class="slider__slide">
							<picture>
								<source srcset="/static/images/slider.jpg, /static/images/siider-retina.jpg 2x" media="(min-width: 800px)">
								<source srcset="/static/images/slider-tab.jpg, /static/images/slider-tab-retina.jpg 2x"
									media="(min-width: 375px) and (max-width: 799px)">
								<source srcset="/static/images/slider-mob.jpg, /static/images/slider-mob-retina.jpg 2x" media="(max-width: 374px)">
								<img class="slider__img" src="/static/images/slider.jpg" alt="Photo">
							</picture>
						</div>
						<div class="slider__slide">
							<picture>
								<source srcset="/static/images/slider.jpg, /static/images/siider-retina.jpg 2x" media="(min-width: 800px)">
								<source srcset="/static/images/slider-tab.jpg, /static/images/slider-tab-retina.jpg 2x"
									media="(min-width: 375px) and (max-width: 799px)">
								<source srcset="/static/images/slider-mob.jpg, /static/images/slider-mob-retina.jpg 2x" media="(max-width: 374px)">
								<img class="slider__img" src="/static/images/slider.jpg" alt="Photo">
							</picture>
						</div>
					</div>
				</div>
				<div class="slider__control">
					@@include('arrow-button/index.html', {
						"class": "slider__button",
						"type": "normal",
						"rotation": "left",
						"label": "Toggle Left"
					})
					<div class="slider__pagination pagination"></div>
					@@include('arrow-button/index.html', {
						"class": "slider__button",
						"type": "normal",
						"rotation": "right",
						"label": "Toggle Right"
					})
				</div>
			</div>
		</div>
	</div>
</section>