<header class="header">
	<div class="header__container container">
		<div class="header__content">
			<a class="header__logo text text--bold logo_js" href="/">Home</a>
			<nav class="header__nav nav">
				<ul class="nav__list">
					<li class="nav__item"><a class="nav__link text text--bold" href="/pages/blog/index.html">My blog</a></li>
					<li class="nav__item"><a class="nav__link text text--bold signin_js" href="#">Sign in</a></li>
					<li class="nav__item"><a class="nav__link text text--bold register_js" href="#">Register</a></li>
					<li class="nav__item"><a class="nav__link text text--bold hide_js profile_js" href="/pages/profile/index.html">My profile</a></li>
					<li class="nav__item"><a class="nav__link text text--bold hide_js logout_js" href="#">Logout</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>