<header class="header">
  <div class="container">
    <div class="header__content">
      <a class="header__link logo_js" href="/">Home</a>
      <nav class="header__nav">
        <ul class="header__menu">
          <li class="header__item"><a class="header__link" href="/pages/blog/index.html">My blog</a></li>
          <li class="header__item"><a class="header__link popup__open-login">Sign in</a></li>
          <li class="header__item"><a class="header__link popup__open-register">Register</a></li>
          <li class="header__item"><a class="header__link" href="/pages/profile/index.html">My profile</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>