<header class="header">
  <div class="container">
    <div class="header__content">
      <a class="header__link logo_js" href="/">Home</a>
      <nav class="header__nav">
        <ul class="header__menu">
          <li class="header__item"><a class="header__link" href="/pages/blog/index.html">My blog</a></li>
          <li class="header__item"><a class="header__link signin-js" href="#">Sign in</a></li>
          <li class="header__item"><a class="header__link register-js" href="#">Register</a></li>
          <li class="header__item"><a class="header__link profile-js hide_js" href="/pages/profile/index.html">My
              profile</a>
          <li class="header__item"><a class="header__link logout-js hide_js" href="#">Logout</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>