$c_black: #000;
$c_black--dl: #070707;

$c_gray: #828282;
$c_mercury: #e5e5e5;
$c_wild-sand: #f6f6f6;

$c_white: #fff;

$c_pomegranade: #eb3617;
$c_malachite: #03bc3c;




$c_black: #000;
$c_black--b: #070707;

$c_gray: #828282;
$c_gray--white: #e5e5e5;
$c_wild-sand: #f6f6f6;

$c_white: #fff;

$c_error: #eb3617;
$c_success: #03bc3c;

$transition: 0.4s;