@import "./mixins";
@import "./colors";
@import "./vars";

.arrow-button {
	position: relative;
	width: 42px;
	height: 42px;
	background: transparent;
	border: 2.5px solid $c_black;
	border-radius: 50%;
	cursor: pointer;
	transition: $transition ease-in-out;

	&--right {
		transform: rotate(180deg);
	}

	&:hover,
	&:focus {
		opacity: .5;
	}

	&:active {
		opacity: .3;
	}

	&__img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%)
	}

	&:disabled {
		opacity: .1;
		cursor: auto;

		&:hover,
		&:focus {
			opacity: .1;
		}
	}
}