<section class="blog">
	<div class="container">
		<div class="blog__content">
			<ul class="blog__list">
				<li class="blog__item">
					<picture>
						<source srcset="/static/images/blog-1-mobile.jpg, /static/images/blog-1-mobile-retina.jpg 2x"
							media="(max-width: 670px)">
						<source srcset="/static/images/blog-1-tablet.jpg, /static/images/blog-1-tablet-retina.jpg 2x"
							media="(min-width: 671px) and (max-width: 799px)">
						<source srcset="/static/images/blog-1.jpg, /static/images/blog-1-retina.jpg 2x" media="(min-width: 800px)">
						<img class="blog__img" src="/static/images/blog-1.jpg" alt="blog 1">
					</picture>
					<div class="blog__info">
						<div class="blog__tag-box">
							<span class="blog__tag-item blog__tag-item--F79824"></span>
							<span class="blog__tag-item blog__tag-item--6A7FDB"></span>
						</div>
						<ul class="blog__stats-list">
							<li class="blog__stats-item">20.01.2020</li>
							<li class="blog__stats-item">223 views</li>
							<li class="blog__stats-item">97 comments</li>
						</ul>
						<h2 class="blog__title">This is my new dog.</h2>
						<p class="blog__text">Duis sit odio dui pretium suspendisse malesuada sit leo in. Massa nec eget etiam tellus ac. Sodales nibh pellentesque
						donec eu ultrices tortor condimentum massa.</p>
						<a class="blog__link text">Go to this post</a>
					</div>
				</li>
				<li class="blog__item">
					<picture>
						<source srcset="/static/images/blog-2-mobile.jpg, /static/images/blog-2-mobile-retina.jpg 2x"
							media="(max-width: 670px)">
						<source srcset="/static/images/blog-2-tablet.jpg, /static/images/blog-2-tablet-retina.jpg 2x"
							media="(min-width: 671px) and (max-width: 799px)">
						<source srcset="/static/images/blog-2.jpg, /static/images/blog-2-retina.jpg 2x" media="(min-width: 800px)">
						<img class="blog__img" src="/static/images/blog-2.jpg" alt="blog 2">
					</picture>
					<div class="blog__info">
						<div class="blog__tag-box">
							<span class="blog__tag-item blog__tag-item--45CB85"></span>
							<span class="blog__tag-item blog__tag-item--33A1FD"></span>
						</div>
						<ul class="blog__stats-list">
							<li class="blog__stats-item">17.01.2020</li>
							<li class="blog__stats-item">12 views</li>
							<li class="blog__stats-item">0 comments</li>
						</ul>
						<h2 class="blog__title">Why do roosters scream in the morning?</h2>
						<p class="blog__text">Erat nunc parturient feugiat egestas adipiscing erat eu. Non neque mi volutpat et lectus.</p>
						<a class="blog__link text">Go to this post</a>
					</div>
				</li>
				<li class="blog__item">
					<picture>
						<source srcset="/static/images/blog-3-mobile.jpg, /static/images/blog-3-mobile-retina.jpg 2x"
							media="(max-width: 670px)">
						<source srcset="/static/images/blog-3-tablet.jpg, /static/images/blog-3-tablet-retina.jpg 2x"
							media="(min-width: 671px) and (max-width: 799px)">
						<source srcset="/static/images/blog-3.jpg, /static/images/blog-3-retina.jpg 2x" media="(min-width: 800px)">
						<img class="blog__img" src="/static/images/blog-3.jpg" alt="blog 3">
					</picture>
					<div class="blog__info">
						<div class="blog__tag-box">
							<span class="blog__tag-item blog__tag-item--2176FF"></span>
						</div>
						<ul class="blog__stats-list">
							<li class="blog__stats-item">17.01.2020</li>
							<li class="blog__stats-item">337 views</li>
							<li class="blog__stats-item">48 comments</li>
						</ul>
						<h2 class="blog__title">Kangaroo. Start.</h2>
						<p class="blog__text">At leo at nisl tortor egestas. Mauris luctus est luctus massa tellus erat gravida. Eget aenean eget diam habitant risus.
						Dapibus et, nec platea felis. Facilisi ut leo arcu, semper id pellentesque quisque ultrices etiam.</p>
						<a class="blog__link text">Go to this post</a>
					</div>
				</li>
				<li class="blog__item">
					<picture>
						<source srcset="/static/images/blog-4-mobile.jpg, /static/images/blog-4-mobile-retina.jpg 2x"
							media="(max-width: 670px)">
						<source srcset="/static/images/blog-4-tablet.jpg, /static/images/blog-4-tablet-retina.jpg 2x"
							media="(min-width: 671px) and (max-width: 799px)">
						<source srcset="/static/images/blog-4.jpg, /static/images/blog-4-retina.jpg 2x" media="(min-width: 800px)">
						<img class="blog__img" src="/static/images/blog-4.jpg" alt="blog 4">
					</picture>
					<div class="blog__info">
						<div class="blog__tag-box">
							<span class="blog__tag-item blog__tag-item--F79824"></span>
							<span class="blog__tag-item blog__tag-item--45CB85"></span>
							<span class="blog__tag-item blog__tag-item--6A7FDB"></span>
						</div>
						<ul class="blog__stats-list">
							<li class="blog__stats-item">15.01.2020</li>
							<li class="blog__stats-item">222 views</li>
							<li class="blog__stats-item">14 comments</li>
						</ul>
						<h2 class="blog__title">Met a duckling at the pond.</h2>
						<p class="blog__text">Nulla tempus mauris sed vel bibendum. Felis urna suspendisse amet, laoreet sagittis. Semper pellentesque condimentum
						vitae morbi in dui. Et in et diam massa.</p>
						<a class="blog__link text">Go to this post</a>
					</div>
				</li>
				<li class="blog__item">
					<picture>
						<source srcset="/static/images/blog-5-mobile.jpg, /static/images/blog-5-mobile-retina.jpg 2x"
							media="(max-width: 670px)">
						<source srcset="/static/images/blog-5-tablet.jpg, /static/images/blog-5-tablet-retina.jpg 2x"
							media="(min-width: 671px) and (max-width: 799px)">
						<source srcset="/static/images/blog-5.jpg, /static/images/blog-5-retina.jpg 2x" media="(min-width: 800px)">
						<img class="blog__img" src="/static/images/blog-5.jpg" alt="blog 5">
					</picture>
					<div class="blog__info">
						<div class="blog__tag-box">
							<span class="blog__tag-item blog__tag-item--E08DAC"></span>
							<span class="blog__tag-item blog__tag-item--57E2E5"></span>
						</div>
						<ul class="blog__stats-list">
							<li class="blog__stats-item">20.01.2020</li>
							<li class="blog__stats-item">122 views</li>
							<li class="blog__stats-item">23 comments</li>
						</ul>
						<h2 class="blog__title">Can dogs also be friends?</h2>
						<p class="blog__text">Eu, libero aliquet nibh turpis quis nulla et ullamcorper purus. Consequat egestas sed sagittis morbi lacus. Consectetur
						et justo, sagittis vitae mi faucibus urna, eu.</p>
						<a class="blog__link text">Go to this post</a>
					</div>
				</li>
			</ul>
				<div class="blog__paginator blog-paginator">
					@@include('arrow-button/index.html', {
					"class": "slider__button",
					"type": "normal",
					"rotation": "left"
					})
					<ul class="blog-paginator__list">
						<li class="blog-paginator__item"><a class="blog-paginator__link ">1</a></li>
						<li class="blog-paginator__item"><a class="blog-paginator__link text">2</a></li>
						<li class="blog-paginator__item"><a class="blog-paginator__link text">3</a></li>
						<li class="blog-paginator__item"><a class="blog-paginator__link text">4</a></li>
						<li class="blog-paginator__item"><a class="blog-paginator__link text">5</a></li>
						<li class="blog-paginator__item"><a class="blog-paginator__link text">6</a></li>
						<li class="blog-paginator__item"><a class="blog-paginator__link text">7</a></li>
						<li class="blog-paginator__item"><a class="blog-paginator__link text">8</a></li>
					</ul>
					@@include('arrow-button/index.html', {
					"class": "slider__button",
					"type": "normal",
					"rotation": "right"
					})
				</div>
		</div>
	</div>
</section>