@import "./mixin";
@import "./colors";
@import "./vars";

.contacts {
	&__bg {
	background: $c__gray-white;
	}

	&__content {
		padding: 60px 0;
		display: flex;
		text-align: center;
		align-items: center;
		flex-direction: column;

		@include media(0, $m_mob) {
			padding: 40px 0;
		}
	}

	&__subtitle {
		font-size: 18px;
		line-height: 21px;
		max-width: 269px;
		margin: 20px 0 30px 0;

		@include media(0, $m_mob) {
			margin: 10px 0 40px 0;
		}
	}

	&__button {
		background: $c__black;
		color: $c__white;

		margin-bottom: 40px;

		&:hover,
		&:focus {
			background: $c__white;
			color: $c__black;
		}
	}

	&__list {
		display: flex;
		max-width: 350px;
		flex-wrap: wrap;
		justify-content: space-around;

		@include media(0, $m_mob--md) {
			max-width: 200px;
		}
	}

	&__item {
		margin-bottom: 10px;
	}

	&__text {
		color: $c__gray;
		font-size: 14px;
		line-height: 16px;
	}
}

.contacts-design {
	color: $c__gray;
	font-size: 14px;
	line-height: 16px;
	margin: 30px 0 5px 0;

	&__link {
		color: $c__gray;
		margin-left: 3px;
		cursor: pointer;
		border-bottom: 1px dashed $c__gray;
		transition: $transition ease-in-out;

		&:hover,
		&:focus {
			color: $c__black;
			border-bottom: 1px solid $c__black;
		}
	}
}
