@import "./mixins";
@import "./colors";
@import "./vars";

.answer {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	padding: 30px 0;
	display: none;
	justify-content: center;
	align-items: center;
	background: rgba($c_wild-sand, .99);

	@include media(0, $m_tab) {
		background: $c_white;
	}

	&__text {
		position: relative;
		margin: 0 20px;
		text-align: center;
	}

	&__close {
		opacity: .5;
		background: transparent;
		border: none;
		outline: none;
		cursor: pointer;
		transition: $transition ease-in-out;

		&:hover,
		&:focus {
			opacity: 1;
		}

		@include media(0, $m_tab) {
			position: absolute;
			top: 20px;
			left: 20px;
		}
	}
}

p.answer__text--success {
	color: $c_error;
}

p.answer__text--error {
	color: $c_success;
}