@import "./mixins";
@import "./colors";
@import "./vars";

.scroll-button {
	position: fixed;
	bottom: 25px;
	right: 6%;
	z-index: 9;

	width: 42px;
	height: 42px;
	display: none;

	background: rgba($c_white, .9);
	border: 2.5px solid $c_black;
	border-radius: 50%;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	
	outline: none;
	cursor: pointer;

	transition: opacity $tr_duration $tr_easing;
	transform: rotate(90deg);

	&__img {
		display: flex;
		margin: auto;
	}
}